
{% extends 'base.html.twig' %}

{% block title %}{{ invoice.id ?? "Not found"}} - details{% endblock %}

{% block body %}

    {% include '/layouts/navbar.html.twig' %}

    <div class="container mt-5">

        {% for flash_message in app.flashes('exito') %}
            <div class="alert alert-success w-100" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% if invoice is empty %}
            <div class="alert alert-info" role="alert">
                Este pedido no está disponible.
            </div>
        {% else %}
            <h2 class="pt-5" style="text-align: center">Detalles del pedido</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-6 card">
                        <div class="row col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    usuario: {{ invoice.user.name }}
                                </h5>
                                <p class="card-text">
                                    ID: {{ invoice.id }}
                                </p>
                                <p class="card-text">
                                    fecha: {{ invoice.date }}
                                </p>
                                <p class="card-text">
                                    Estado: {{ invoice.status }}
                                </p>
                                <p class="card-text">
                                    Productos: {{ invoice.products|length }}
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Cantidad</th>
                                            {% if invoice.status == "shopping-cart" %}
                                                <th scope="col">Acción</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for product in invoice.products %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="/product/details/{{ product.code }}" class="text-decoration-none">
                                                        {{ product.id }}
                                                    </a>
                                                </th>
                                                <td>{{ product.amount }}</td>

                                                {% if invoice.status == "shopping-cart" %}
                                                    <td>
                                                        <a
                                                                href="/invoices/shopping-cart/delete-product/{{ product.id }}"
                                                                class="btn btn-primary text-decoration-none"
                                                        >
                                                            Eliminar
                                                        </a>
                                                    </td>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% if invoice.status == "invoice" %}
                                    <form action="/invoices/delete/invoice/{{ invoice.id }}" method="POST">
                                        <button
                                                class="btn btn-danger"
                                                type="submit"
                                        >
                                            Cancelar
                                        </button>
                                    </form>
                                    <br>
                                    <a
                                            class="btn btn-primary"
                                            href="/invoices/pay/{{ invoice.id }}"
                                    >
                                        Pagar
                                    </a>
                                {% elseif invoice.status == "shopping-cart" and invoice.products|length != 0 %}
                                    <form action="/invoices/create/invoice/" method="POST">
                                        <input
                                                value="{{ invoice.userDocument }}"
                                                name="userDocument"
                                                class="d-none"
                                        >
                                        <button
                                                class="btn btn-primary"
                                                type="submit"
                                        >
                                            Generar pedido
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}