
{% extends 'base.html.twig' %}

{% block title %}{{ shoppingCart.id ?? "Not found"}} - details{% endblock %}

{% block body %}

    {% include '/layouts/navbar.html.twig' %}

    <div class="container mt-5">

        {% if shoppingCart is empty or shoppingCart.products|length == 0 %}
            <div class="alert alert-info" role="alert">
                Este carrito está vacío.
            </div>
        {% else %}
            <h2 class="pt-5" style="text-align: center">Detalles del pedido</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-6 card">
                        <div class="row col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    usuario: {{ shoppingCart.userDocument }}
                                </h5>
                                <p class="card-text">
                                    ID: {{ shoppingCart.id }}
                                </p>
                                <p class="card-text">
                                    fecha: {{ shoppingCart.date }}
                                </p>
                                <p class="card-text">
                                    Estado: {{ shoppingCart.status }}
                                </p>
                                <p class="card-text">
                                    Productos: {{ shoppingCart.products|length }}
                                </p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for product in shoppingCart.products %}
                                        <tr>
                                            <th scope="row">
                                                <a href="/product/details/{{ product.id }}" class="text-decoration-none">
                                                    {{ product.id }}
                                                </a>
                                            </th>
                                            <td>{{ product.amount }}</td>
                                            <td>
                                                <a
                                                        href="/invoices/shopping-cart/delete-product/{{ product.id }}"
                                                        class="btn btn-primary text-decoration-none"
                                                >
                                                    Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                                {% if
                                    shoppingCart.status == "shopping-cart" and
                                    shoppingCart.products|length != 0
                                %}
                                    <form action="/invoices/create/invoice/" method="POST">
                                        <input
                                            value="{{ shoppingCart.userDocument }}"
                                            name="userDocument"
                                            class="d-none"
                                        >
                                        <button
                                                class="btn btn-primary"
                                                type="submit"
                                        >
                                            Generar pedido
                                        </button>
                                    </form>
                                {% elseif shoppingCart.products|length != 0%}
                                    <br>
                                    <a
                                            class="btn btn-danger"
                                            href="/invoices/shopping-cart/delete/{{ shoppingCart.userDocument }}"
                                    >
                                        Eliminar
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}