
{% extends 'base.html.twig' %}

{% block title %}{{ shoppingCart.id ?? "Not found"}} - details{% endblock %}

{% block body %}
    {% include '/layouts/navbar.html.twig' %}
    <div class="container mt-5">
        {% if shoppingCart is empty or shoppingCart.products|length == 0 %}
            <div class="alert alert-info" role="alert">
                Este carrito está vacío.
            </div>
        {% else %}
            <h2 class="pt-5" style="text-align: center">Detalles del carrito</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6 card">
                        <div class="row col-12">
                            <div class="card-body">
                                <h5 class="card-title">
                                    usuario: {{ shoppingCart.user.email }}
                                </h5>
                                <p class="card-text">
                                    ID: {{ shoppingCart.id }}
                                </p>
                                <p class="card-text">
                                    fecha: {{ shoppingCart.date|date('Y/m/d H:i:s') }}
                                </p>
                                <p class="card-text">
                                    Estado: {{ shoppingCart.status }}
                                </p>
                                <p class="card-text">
                                    Productos: {{ shoppingCart.products|length }}
                                </p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in shoppingCart.products %}
                                        <tr>
                                            <th scope="row">
                                                <a href="{{ path('product_details', {'code': product.code}) }}" class="text-decoration-none">
                                                    {{ product.name }}
                                                </a>
                                            </th>
                                            <td>{{ product.amount }}</td>
                                            <td>
                                                <a
                                                        href="{{ path('delete_product_to_shopping_cart_view', {'code': product.code}) }}"
                                                        class="btn btn-primary text-decoration-none"
                                                >
                                                    Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="d-flex w-100">
                                    {% if
                                        shoppingCart.status == "shopping-cart" and
                                        shoppingCart.products|length != 0
                                    %}
                                        {{ form_start(formCreateInvoice, {"action" : path('create_invoice_view') , "method" : "POST"}) }}
                                        {{ form_widget(formCreateInvoice) }}
                                        <button type="submit" class="btn btn-primary">Generar pedido</button>
                                        {{ form_end(formCreateInvoice) }}
                                        <a
                                                class="btn btn-danger ms-2"
                                                href="{{ path('delete_shopping_cart_view', {'document': shoppingCart.user.document}) }}"
                                        >
                                            Eliminar
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}