{% extends 'base.html.twig' %}

{% block title %}{{ product.name ?? "Not found"}} - details{% endblock %}

{% block body %}

    {% include '/layouts/navbar.html.twig' %}

    <div class="container mt-5">
        {% for flash_message in app.flashes('exito') %}
            <div class="alert alert-success w-100" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% if exito is defined %}
            <div class="alert alert-success w-100" role="alert">
                {{ exito }}
            </div>
        {% endif %}

        {% if error is defined %}
            <div class="alert alert-danger w-100" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if product is empty %}
            <div class="alert alert-info" role="alert">
                Este producto no está disponible.
            </div>
        {% else %}
            <h2 class="pt-5" style="text-align: center">Detalles del producto</h2>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-6 card">
                        <div class="row col-12">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Nombre: {{ product.name }}
                                </h5>
                                <p class="card-text">
                                    ID: {{ product.id }}
                                </p>
                                <p class="card-text">
                                    Precio: {{ product.price }}
                                </p><p class="card-text">
                                    Cantidad: {{ product.amount }}
                                </p>
                                <a
                                        class="btn btn-primary"
                                        href="{{ path('update_product', {'code': product.code}) }}"
                                >
                                    Actualizar
                                </a>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#addProduct"
                                >
                                    Agregar al carrito
                                </button>
                                <a
                                        class="btn btn-danger"
                                        href="{{ path('delete_product', {'code': product.code}) }}"
                                >
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(formAddShoppingCart, {"action" : path('add_product_shopping_cart'), "method" : "POST"}) }}
                            {{ form_row(formAddShoppingCart.code) }}
                            {{ form_row(formAddShoppingCart.amount) }}
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            {{ form_end(formAddShoppingCart) }}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}