{% extends 'base.html.twig' %}

{% block title %}{{ product.name ?? "Not found"}} - details{% endblock %}

{% block body %}

    {% include '/layouts/navbar.html.twig' %}

    <div class="container mt-5">

        {% for flash_message in app.flashes('exito') %}
            <div class="alert alert-success w-100" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% if exito is defined %}
            <div class="alert alert-success w-100" role="alert">
                {{ exito }}
            </div>
        {% endif %}

        {% if error is defined %}
            <div class="alert alert-danger w-100" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if product is empty %}
            <div class="alert alert-info" role="alert">
                Este producto no está disponible.
            </div>
        {% else %}
            <h2 class="pt-5" style="text-align: center">Detalles del producto</h2>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-6 card">
                        <div class="row col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Nombre: {{ product.name }}
                                </h5>
                                <p class="card-text">
                                    ID: {{ product.id }}
                                </p>
                                <p class="card-text">
                                    Precio: {{ product.price }}
                                </p><p class="card-text">
                                    Cantidad: {{ product.amount }}
                                </p>
                                <a
                                        class="btn btn-primary"
                                        href="/product/update/{{ product.id }}"
                                >
                                    Actualizar
                                </a>
                                <button
                                        type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#addProduct"
                                >
                                    Agregar al carrito
                                </button>
                                <a
                                        class="btn btn-danger"
                                        href="/product/delete/{{ product.id }}"
                                >
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enviar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/invoices/shopping-cart/add-product" method="post">
                        <div class="mb-3">
                            <input
                                    type="text"
                                    class="form-control d-none"
                                    id="id"
                                    name="id"
                                    value="{{ product.id }}"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="amount"
                                    name="amount"
                                    required
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}